.videoCard {
    position: relative;
    margin-left: 30px;
    transition: transform 0.3s 0.2s ease, opacity 1s 0.2s ease;
}

.videoCard:hover {
    transform: scale(1.15);
}

.cardFace {
    display: flex;

    font-family: Arial;
    
    flex-direction: column;
    width: 320px;
    height: 100%;
    border-radius: 20px;

    border: 'none';
    transition: transform 0.3s 0.5s ease;
}

.cardFace__cover {
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;

    transition: all 0.3s 0.3s ease;
}

.cardFace__cover:hover {
    opacity: 0;
    visibility: unset;
}

.cardFace__body {
    height: 80%;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.cardFace__body__video {
    position: relative;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.cardFace__footer {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: space-around;
    padding: 8px 12px;

    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;

    color: #ffffffab;
    background: linear-gradient(0deg, #090909 , #303030);
}