.carousel-items {
    display: flex;
    list-style: none;
    overflow-x: scroll;
    height: 100%;
}

.carousel-items::-webkit-scrollbar {
    display: none;
}

.carousel-item:nth-child(2n) {
    background-color: rgb(100, 100, 100);
}

.carousel-item:nth-child(2n+1) {
    background-color: rgb(201, 201, 201);
}

.buttons-wrapper {
    position: absolute;
    display: block;

    top: 33%;
    left: 0;
    right: 0;
    
    opacity: 0;
}

.rail__container:hover .buttons-wrapper {
    opacity: 1;
}